<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.philong.banhang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Update_All_Product" />
        <activity android:name=".Activity.Update_All_Product_Insert" />
        <activity android:name=".Activity.Update_All" />
        <activity android:name=".Activity.Update_All_Table" />
        <activity android:name=".Activity.Update_All_Employee" />
        <activity android:name=".Activity.Update_All_Product_Update" />
        <activity android:name=".Activity.Update_All_Table_Insert" />
        <activity android:name=".Activity.Update_All_Table_Update"></activity>
    </application>

</manifest>